*.metadata
*.index
lintang/
*.osm.pbf
tmp/
osm-searchdb/
coba/
latihanIO/
note.txt
*.txt
*.cpu
*.test
prof.mem
!learn_profiling_benchmarking.txt

latihanSyncPool/
latihanCompressAndBufferPool/
*.db

bin/
.vscode/

test/

*.prof
*.mprof

*.pl
*.svg